---
layout: base
permalink: /index.html
title: "Alan Hylands"
description: 'Data Analyst and Writer from Northern Ireland..'
blog:
  title: 'Writing'
  intro: "I'm showing the last 4 articles and essays, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">I'm a Data Analyst and Writer<br />from Northern Ireland</h2>
      <h4>Currently I'm a Staff Data Scientist at <a href="https://zapier.com">Zapier</a></h4>
      <p>
        I also write <a href="/tags/Data/">data articles</a> to help folks become better data analysts, and <a href="/tags/Interviews/">interview</a>
         actual real-life data professionals to find what really makes them tick.
        <br /><br />
        And I help them get started learning SQL with my online <a href="https://sqlcrashcourse.com">SQL Crash Course</a>.
      </p>

      <h3>Writers write.</h3>
      <p>
        I have previously been a <a href="/i-want-to-be-a-football-writer-when-i-grow-up/">World Soccer editor</a> for About.com 
        and The New York Times Company, 
        and had articles published in <a href="https://towardsdatascience.com/becoming-an-analytics-manager-isnt-a-promotion-c3f65bbd0d95">Towards Data Science</a>
        and <a href="https://hackernoon.com/fewer-dashboards-more-analysis-63581970672c">Hacker Noon</a>.
      </p>
      <p>You can read some of my <a href="/tags/Essays/">selected essays</a> here on tech, football, life ... and more.</p>


      <h3>Want to know more?</h3>
      <p>
        See my <a href="/about/">About</a> page for some backstory, and where else you can find or contact me.
      </p>

    </div>
  </article>


</div>
