---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/writing/where-did-it-all-go-wrong-for-pochettino-at-spurs/ /where-did-it-all-go-wrong-for-pochettino-at-spurs/ 301
/writing/i-want-to-be-a-football-writer-when-i-grow-up/ /i-want-to-be-a-football-writer-when-i-grow-up/ 301
/writing/my-kids-have-a-right-to-their-online-privacy/ /my-kids-have-a-right-to-their-online-privacy/ 301
/writing/migrating-my-blog-from-wordpress-to-gatsby-part-1/ /migrating-my-blog-from-wordpress-to-gatsby-part-1/ 301
/writing/migrating-my-blog-from-wordpress-to-gatsby-part-2/ /migrating-my-blog-from-wordpress-to-gatsby-part-2/ 301
/writing/migrating-my-personal-website-from-gatsby-to-eleventy/ /migrating-my-personal-website-from-gatsby-to-eleventy/ 301
/data-science-project-canned/ /what-should-i-do-when-my-data-science-project-gets-canned/ 301
/interview-wesley-engers/ /qanda-with-wesley-engers-data-science-math-and-statistical-consultant/ 301
/interview-katie-kodes/ /qanda-with-katie-kodes-salesforce-and-python-integrations-programmer/ 301
/analysts-assemble-qa-with-katie-kodes /qanda-with-katie-kodes-salesforce-and-python-integrations-programmer/ 301
/how-to-web-scrape-wikipedia-python-urllib-beautiful-soup-pandas/ /how-to-web-scrape-wikipedia-using-python-urllib-beautiful-soup-and-pandas/ 301
/the-urgenturgenturgent-boy-who-cried-wolf/ /how-to-deal-with-the-urgent-urgent-urgent-boy-who-cried-wolf/ 301
/dumbbell-plot-compare-two-values-python/ /comparing-two-values-with-a-dumbbell-plot-in-python-pandas-and-matplotlib/ 301
/3-rdbms-for-data-newbies-to-get-started-on/ /3-relational-database-management-systems-for-data-newbies-to-get-started-on/ 301
/urgenturgenturgent-how-to-deal-when-someone-elses-poor-planning-becomes-your-emergency/ /urgent-urgent-urgent-how-to-deal-when-someone-elses-poor-planning-becomes-your-emergency/ 301
/data-analytics-vs-analysis-whats-the-difference/ /data-analytics-vs-analysis-whats-the-difference/ 301
/how-to-eliminate-stupid-mistakes-in-your-data-reports/ /how-to-eliminate-stupid-mistakes-in-your-data-reports/ 301
/interviews/ /tags/interviews/ 301
/becoming-manager-isnt-promotion-career-change/ /becoming-an-analytics-manager-isnt-a-promotion-its-a-career-change/ 301
/interview-robert-crocker/ /qanda-with-robert-crocker-tableau-and-data-visualization-consultant/ 301
/forty-fabulous-who-needs-mid-life-crisis-anyway/ /forty-and-fabulous-who-needs-a-mid-life-crisis-anyway/ 301
/interview-jesse-pisel/ /qanda-with-jesse-pisel-geo-data-scientist/ 301
/interview-oscar-baruffa/ /qanda-with-oscar-baruffa-sustainability-professional-and-data-specialist/ 301
/technology-is-eating-my-excel-reporting-job-what-should-i-do-to-survive/ /technology-is-eating-my-excel-reporting-job-what-should-i-do-to-survive/ 301
/writing/var-what-is-it-good-for/ /var-what-is-it-good-for/ 301
/writing/not-failures-just-currently-uncompleted/ /not-failures-just-currently-uncompleted/ 301
/writing/forty-and-fabulous-who-needs-a-mid-life-crisis-anyway/ /forty-and-fabulous-who-needs-a-mid-life-crisis-anyway/ 301